In [209]:
import pandas as data_reader
import numpy as np
data = data_reader.read_csv("./adult.csv",1,",")
data_array = [data]

In [210]:
data['country'] = data['country'].replace(' ?',np.nan)
data['workclass'] = data['workclass'].replace(' ?',np.nan)
data['occupation'] = data['occupation'].replace(' ?',np.nan)
data['sex'] = data['sex'].replace(' ?',np.nan)

data.dropna(how='any',inplace=True)

In [211]:
data['salary']=data['salary'].map({' <=50K':1, ' >50K':0}).astype(int)
data['sex'] = data['sex'].map({' Male':1,' Female':0}).astype(int)

for dataset in data_array:
    dataset.loc[dataset['country'] != ' United-States', 'country'] = 'Non-US'
    dataset.loc[dataset['country'] == ' United-States', 'country'] = 'US'
    
data['country'] = data['country'].map({'US':1,'Non-US':0}).astype(int)

data['marital-status'] = data['marital-status']
.replace([' Divorced',' Married-spouse-absent',' Never-married',' Separated',' Widowed'],'Single')
data['marital-status'] = data['marital-status']
.replace([' Married-AF-spouse',' Married-civ-spouse'],'Couple')

data['marital-status'] = data['marital-status'].map({'Couple':0,'Single':1})

data['relationship'] = data['relationship']
.map({' Unmarried':0,' Wife':1,' Husband':2,' Not-in-family':3,' Own-child':4,' Other-relative':5})

data['race']= data['race'].map({' White':0,' Amer-Indian-Eskimo':1,
                                ' Asian-Pac-Islander':2,' Black':3,' Other':4})
   
data['workclass']= data['workclass'].map({' Federal-gov':0,' Local-gov':1,
                                          ' State-gov':2,' Private':3,' Self-emp-inc':4,' Self-emp-not-inc':5})    
    
data.drop(labels=['education','occupation', 'fnlwgt'],axis=1,inplace=True)
    
data.head(10)

,age,workclass,education-num,marital-status,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,2.0,13,1,3,0,1,2174,0,40,1,1
1,50,5.0,13,0,2,0,1,0,0,13,1,1
2,38,3.0,9,1,3,0,1,0,0,40,1,1
3,53,3.0,7,0,2,3,1,0,0,40,1,1
4,28,3.0,13,0,1,3,0,0,0,40,0,1
5,37,3.0,14,0,1,0,0,0,0,40,1,1
6,49,3.0,5,1,3,3,0,0,0,16,0,1
7,52,5.0,9,0,2,0,1,0,0,45,1,0
8,31,3.0,14,1,3,0,0,14084,0,50,1,0
9,42,3.0,13,0,2,0,1,5178,0,40,1,0

In [212]:
from sklearn.model_selection import train_test_split
data.dropna(how='any',inplace=True)
X=data.drop(['salary'],axis=1)
y=data['salary']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.5,random_state=22)
print ("Train dataset: {0}{1}".format(X_train.shape, y_train.shape))
print ("Test dataset: {0}{1}".format(X_test.shape, y_test.shape))

Train dataset: (15074, 11)(15074,)
Test dataset: (15074, 11)(15074,)

In [213]:
print ("Train dataset: {0}{1}".format(X_train.shape, y_train.shape))
print ("Test dataset: {0}{1}".format(X_test.shape, y_test.shape))

Train dataset: (15074, 11)(15074,)
Test dataset: (15074, 11)(15074,)

In [216]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn import model_selection
from sklearn.metrics import accuracy_score

mlp = (MLPClassifier(solver='adam', hidden_layer_sizes=(40, 40), max_iter=2000,
activation='relu', learning_rate_init=0.02))

mlp.fit(X_train, y_train)
prediction = mlp.predict(X_test)
acc_score = accuracy_score(y_test, prediction)
print ('{0}: {1}'.format('Neural network',acc_score))

Neural network: 0.8396576887355712

In [218]:
models = []
names = ['Random Forest','GaussianNB','DecisionTreeClassifier', 'KNeighborsClassifier']

models.append((RandomForestClassifier(n_estimators=10)))
models.append((GaussianNB()))
models.append((DecisionTreeClassifier()))
models.append((KNeighborsClassifier()))

for i in range(0,len(models)):    
    score=models[i].fit(X_train,y_train)
    prediction = models[i].predict(X_test)
    acc_score = accuracy_score(y_test,prediction)     
    print ('-'*40)
    print ('{0}: {1}'.format(names[i],acc_score))

----------------------------------------
Random Forest: 0.840387422051214
----------------------------------------
GaussianNB: 0.8025739684224492
----------------------------------------
DecisionTreeClassifier: 0.8121268409181371
----------------------------------------
KNeighborsClassifier: 0.8395250099509088